/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
    height: calc(100vh - 4rem);
    width: 70%;
    float: left;
} /* Optional: Makes the sample page fill the window. */

#floating-panel {
    width: 29%;
    float: left;
    background-color: #fff;
    margin: 5px;
    text-align: center;
    font-family: 'Roboto','sans-serif';
}