$headHeight: 4rem;

#head {
	width: 100vw;

	> * {
		display: block;
		height: 4rem;
		width: 100%;
	}

	.bar {
		position: fixed;
		background-color: black;
		color: white;

		> * {
			display: inline-block;
			position: absolute;
			top: 0;
			height: 100%;
		}

		.left {
			left: 0;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: 0.25rem;
			padding: 1rem 2rem 1rem 4rem;
		}

		.right {
			right: 0;
			padding: 0rem 4rem 0rem 2rem;

			> * {
				display: inline-block;
			}

			.welcome {
				line-height: 1rem;
				padding: 1.5rem 1rem;
				font-weight: 100;
				.name {
					font-weight: 400;
				}
			}

			.logout {
				padding: 0.25rem 1rem;
				background-color: white;
				color: black;
				text-decoration: none;
				text-transform: lowercase;
				font-weight: 700;
			}
		}
	}
}